In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf
from matplotlib import pyplot as plt
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
dframe = pd.read_csv("/Users/gayatrihungund/Downloads/Data/Stocks/hps.us.txt")
df = pd.DataFrame(dframe)
df = df.sort_values('Date')
df.head()

         Date    Open    High     Low   Close  Volume  OpenInt
0  2005-02-25  13.359  13.359  13.270  13.332   84885        0
1  2005-02-28  13.366  13.376  13.308  13.354   82154        0
2  2005-03-01  13.419  13.454  13.389  13.425   83013        0
3  2005-03-02  13.405  13.450  13.376  13.389  122807        0
4  2005-03-03  13.450  13.450  13.285  13.342  148094        0

In [2]:
print(df.isna().sum())
df = df.drop(columns=['Date','Volume','OpenInt'])

#df = df.dropna(inplace=False)

Date       0
Open       0
High       0
Low        0
Close      0
Volume     0
OpenInt    0
dtype: int64

In [3]:
df_train = df[:1059]
df_test = df[1059:]

print(df_train)


#print(df_train)

         Open     High      Low    Close
0     13.3590  13.3590  13.2700  13.3320
1     13.3660  13.3760  13.3080  13.3540
2     13.4190  13.4540  13.3890  13.4250
3     13.4050  13.4500  13.3760  13.3890
4     13.4500  13.4500  13.2850  13.3420
5     13.3590  13.3830  13.2480  13.2900
6     13.3320  13.3380  13.2580  13.3380
7     13.3280  13.4130  13.2970  13.4050
8     13.4050  13.4050  13.2150  13.2770
9     13.2530  13.2530  13.1170  13.1860
10    13.2440  13.2440  13.0760  13.1090
11    13.1050  13.1140  12.8900  12.9290
12    12.9290  12.9800  12.7560  12.7950
13    12.7810  12.7890  12.5790  12.6220
14    12.5790  12.6760  12.5570  12.5980
15    12.6220  12.6410  12.5200  12.5760
16    12.5570  12.5570  12.2420  12.3360
17    12.3360  12.3360  12.0680  12.1850
18    12.0370  12.0680  11.7240  11.8960
19    11.8960  12.0420  11.8960  12.0420
20    11.9070  11.9840  11.7670  11.8700
21    11.8560  11.9260  11.8080  11.9070
22    11.9610  12.2150  11.9610  12.0950
23    12.1850  12.3710  12.1230  12.3530
24    12.5790  12.5980  12.2710  12.4300
25    12.4090  12.4090  12.1930  12.2880
26    12.2880  12.3840  12.2520  12.3190
27    12.3710  12.3770  12.2580  12.3710
28    12.3530  12.3770  12.3070  12.3710
29    12.3710  12.5540  12.3710  12.4990
...       ...      ...      ...      ...
1029   4.9415   5.0119   4.5783   4.7304
1030   4.7774   5.1817   4.7717   5.1817
1031   4.9764   5.2164   4.8420   5.1053
1032   5.1401   5.4973   5.1401   5.2460
1033   5.2805   5.3215   5.1401   5.2805
1034   5.2982   5.3280   5.1641   5.2927
1035   5.2225   5.3336   5.1696   5.3100
1036   5.2048   5.3571   5.1525   5.3046
1037   5.5149   5.6675   5.4569   5.6614
1038   5.5616   5.7260   5.4741   5.7140
1039   5.7376   5.7376   5.6090   5.6675
1040   5.5561   5.7085   5.5209   5.7085
1041   5.6324   5.7376   5.6324   5.7318
1042   5.7018   5.7376   5.6090   5.6556
1043   5.5616   5.6206   5.4450   5.4623
1044   5.3571   5.6905   5.2805   5.6556
1045   5.4450   5.6789   5.4450   5.6206
1046   5.7085   5.7085   5.5561   5.6499
1047   5.6143   5.7728   5.5910   5.7085
1048   5.6789   5.7785   5.6206   5.6499
1049   5.6206   5.7201   5.5616   5.6675
1050   5.6614   5.7493   5.5616   5.7018
1051   5.7018   5.9127   5.7018   5.8606
1052   5.8838   6.0422   5.8020   6.0422
1053   6.0887   6.2763   6.0539   6.2589
1054   6.1648   6.2644   6.1589   6.2589
1055   6.2763   6.4813   6.2644   6.4401
1056   6.4696   6.4867   6.2705   6.3233
1057   6.3582   6.5983   6.3233   6.5692
1058   6.2469   6.6275   6.2469   6.5862

[1059 rows x 4 columns]

In [4]:
#check the statistical distribution of data before normalizing the data 
#this wil help to know the minimum and maximum in the data
train_stats = df_train.describe()
train_stats.pop("Close")
train_stats = train_stats.transpose()
train_stats

       count       mean       std     min      25%     50%     75%     max
Open  1059.0  10.929807  2.404109  3.3666  10.5390  11.648  12.579  13.450
High  1059.0  11.010698  2.346750  3.6475  10.6485  11.710  12.610  13.847
Low   1059.0  10.832151  2.456154  3.2199  10.4530  11.587  12.520  13.389

In [5]:
#remove the target value from the dataset
y_train = df_train.pop("Close")
y_test = df_test.pop("Close")
df_train

         Open     High      Low
0     13.3590  13.3590  13.2700
1     13.3660  13.3760  13.3080
2     13.4190  13.4540  13.3890
3     13.4050  13.4500  13.3760
4     13.4500  13.4500  13.2850
5     13.3590  13.3830  13.2480
6     13.3320  13.3380  13.2580
7     13.3280  13.4130  13.2970
8     13.4050  13.4050  13.2150
9     13.2530  13.2530  13.1170
10    13.2440  13.2440  13.0760
11    13.1050  13.1140  12.8900
12    12.9290  12.9800  12.7560
13    12.7810  12.7890  12.5790
14    12.5790  12.6760  12.5570
15    12.6220  12.6410  12.5200
16    12.5570  12.5570  12.2420
17    12.3360  12.3360  12.0680
18    12.0370  12.0680  11.7240
19    11.8960  12.0420  11.8960
20    11.9070  11.9840  11.7670
21    11.8560  11.9260  11.8080
22    11.9610  12.2150  11.9610
23    12.1850  12.3710  12.1230
24    12.5790  12.5980  12.2710
25    12.4090  12.4090  12.1930
26    12.2880  12.3840  12.2520
27    12.3710  12.3770  12.2580
28    12.3530  12.3770  12.3070
29    12.3710  12.5540  12.3710
...       ...      ...      ...
1029   4.9415   5.0119   4.5783
1030   4.7774   5.1817   4.7717
1031   4.9764   5.2164   4.8420
1032   5.1401   5.4973   5.1401
1033   5.2805   5.3215   5.1401
1034   5.2982   5.3280   5.1641
1035   5.2225   5.3336   5.1696
1036   5.2048   5.3571   5.1525
1037   5.5149   5.6675   5.4569
1038   5.5616   5.7260   5.4741
1039   5.7376   5.7376   5.6090
1040   5.5561   5.7085   5.5209
1041   5.6324   5.7376   5.6324
1042   5.7018   5.7376   5.6090
1043   5.5616   5.6206   5.4450
1044   5.3571   5.6905   5.2805
1045   5.4450   5.6789   5.4450
1046   5.7085   5.7085   5.5561
1047   5.6143   5.7728   5.5910
1048   5.6789   5.7785   5.6206
1049   5.6206   5.7201   5.5616
1050   5.6614   5.7493   5.5616
1051   5.7018   5.9127   5.7018
1052   5.8838   6.0422   5.8020
1053   6.0887   6.2763   6.0539
1054   6.1648   6.2644   6.1589
1055   6.2763   6.4813   6.2644
1056   6.4696   6.4867   6.2705
1057   6.3582   6.5983   6.3233
1058   6.2469   6.6275   6.2469

[1059 rows x 3 columns]

In [7]:
#Now, to normalize the data we can use the concept of finding z-score
mean = df['Open']['mean']
print(mean)


# scaler = MinMaxScaler()
# # #here as we r extracting samples for predicting the value of closing stock price, we need to extract that column and reshape
# # #the values in the form of 2d array as required by the fit_transform method.
# df_scaled = scaler.fit(df)
# print(scaler.fit(df))
# print(scaler.transform(df))
# #df['Open','High','Low','Close'] = scaler.fit_transform()





# # X_train = scaler.fit_transform(df_train.drop(['Close'],axis=1).values)

# # y_data = df_train['Close'].values.reshape(-1,1)
# # y_train = scaler.fit_transform(y_data)
# # print(y_train)

KeyError: 'mean'