In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf
from matplotlib import pyplot as plt
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
dframe = pd.read_csv("/Users/gayatrihungund/Downloads/Data/Stocks/hps.us.txt")
df = pd.DataFrame(dframe)
df = df.sort_values('Date')
df.head()

         Date    Open    High     Low   Close  Volume  OpenInt
0  2005-02-25  13.359  13.359  13.270  13.332   84885        0
1  2005-02-28  13.366  13.376  13.308  13.354   82154        0
2  2005-03-01  13.419  13.454  13.389  13.425   83013        0
3  2005-03-02  13.405  13.450  13.376  13.389  122807        0
4  2005-03-03  13.450  13.450  13.285  13.342  148094        0

In [2]:
print(df.isna().sum())
df = df.drop(columns=['Date','OpenInt'])

#df = df.dropna(inplace=False)

Date       0
Open       0
High       0
Low        0
Close      0
Volume     0
OpenInt    0
dtype: int64

In [3]:
df_train = df[:1059]
df_test = df[1059:]

print(df_train)


#print(df_train)

         Open     High      Low    Close  Volume
0     13.3590  13.3590  13.2700  13.3320   84885
1     13.3660  13.3760  13.3080  13.3540   82154
2     13.4190  13.4540  13.3890  13.4250   83013
3     13.4050  13.4500  13.3760  13.3890  122807
4     13.4500  13.4500  13.2850  13.3420  148094
5     13.3590  13.3830  13.2480  13.2900   86422
6     13.3320  13.3380  13.2580  13.3380   88131
7     13.3280  13.4130  13.2970  13.4050  162266
8     13.4050  13.4050  13.2150  13.2770  140059
9     13.2530  13.2530  13.1170  13.1860  153553
10    13.2440  13.2440  13.0760  13.1090  127590
11    13.1050  13.1140  12.8900  12.9290  146546
12    12.9290  12.9800  12.7560  12.7950  177969
13    12.7810  12.7890  12.5790  12.6220  155430
14    12.5790  12.6760  12.5570  12.5980  173708
15    12.6220  12.6410  12.5200  12.5760   97190
16    12.5570  12.5570  12.2420  12.3360  193697
17    12.3360  12.3360  12.0680  12.1850  170804
18    12.0370  12.0680  11.7240  11.8960  268676
19    11.8960  12.0420  11.8960  12.0420  150479
20    11.9070  11.9840  11.7670  11.8700  171829
21    11.8560  11.9260  11.8080  11.9070   69343
22    11.9610  12.2150  11.9610  12.0950  117339
23    12.1850  12.3710  12.1230  12.3530   98721
24    12.5790  12.5980  12.2710  12.4300   62853
25    12.4090  12.4090  12.1930  12.2880   89503
26    12.2880  12.3840  12.2520  12.3190   90185
27    12.3710  12.3770  12.2580  12.3710   90866
28    12.3530  12.3770  12.3070  12.3710   75662
29    12.3710  12.5540  12.3710  12.4990  132031
...       ...      ...      ...      ...     ...
1029   4.9415   5.0119   4.5783   4.7304  287021
1030   4.7774   5.1817   4.7717   5.1817  127788
1031   4.9764   5.2164   4.8420   5.1053   82601
1032   5.1401   5.4973   5.1401   5.2460  131768
1033   5.2805   5.3215   5.1401   5.2805   96606
1034   5.2982   5.3280   5.1641   5.2927   99698
1035   5.2225   5.3336   5.1696   5.3100  107529
1036   5.2048   5.3571   5.1525   5.3046   89232
1037   5.5149   5.6675   5.4569   5.6614   82854
1038   5.5616   5.7260   5.4741   5.7140   97454
1039   5.7376   5.7376   5.6090   5.6675   99626
1040   5.5561   5.7085   5.5209   5.7085   77159
1041   5.6324   5.7376   5.6324   5.7318  160016
1042   5.7018   5.7376   5.6090   5.6556  293331
1043   5.5616   5.6206   5.4450   5.4623  141299
1044   5.3571   5.6905   5.2805   5.6556  129987
1045   5.4450   5.6789   5.4450   5.6206  138565
1046   5.7085   5.7085   5.5561   5.6499   85827
1047   5.6143   5.7728   5.5910   5.7085  112468
1048   5.6789   5.7785   5.6206   5.6499  110231
1049   5.6206   5.7201   5.5616   5.6675   65147
1050   5.6614   5.7493   5.5616   5.7018  223390
1051   5.7018   5.9127   5.7018   5.8606  140581
1052   5.8838   6.0422   5.8020   6.0422  130656
1053   6.0887   6.2763   6.0539   6.2589   95223
1054   6.1648   6.2644   6.1589   6.2589   61672
1055   6.2763   6.4813   6.2644   6.4401  106495
1056   6.4696   6.4867   6.2705   6.3233  137631
1057   6.3582   6.5983   6.3233   6.5692  134635
1058   6.2469   6.6275   6.2469   6.5862   65044

[1059 rows x 5 columns]

In [4]:
#check the statistical distribution of data before normalizing the data 
#this wil help to know the minimum and maximum in the data
train_stats = df_train.describe()
train_stats.pop("Close")
train_stats = train_stats.transpose()
train_stats

,count,mean,std,min,25%,50%,75%,max
Open,1059.0,10.929807,2.404109,3.3666,10.5390,11.648,12.579,13.450
High,1059.0,11.010698,2.346750,3.6475,10.6485,11.710,12.610,13.847
Low,1059.0,10.832151,2.456154,3.2199,10.4530,11.587,12.520,13.389
Volume,1059.0,126548.059490,77936.739709,36733.0000,81372.0000,105470.000,143344.000,847853.000

In [5]:
#remove the target value from the dataset
y_train = df_train.pop("Close")
y_test = df_test.pop("Close")
#df_train

         Open     High      Low  Volume
0     13.3590  13.3590  13.2700   84885
1     13.3660  13.3760  13.3080   82154
2     13.4190  13.4540  13.3890   83013
3     13.4050  13.4500  13.3760  122807
4     13.4500  13.4500  13.2850  148094
5     13.3590  13.3830  13.2480   86422
6     13.3320  13.3380  13.2580   88131
7     13.3280  13.4130  13.2970  162266
8     13.4050  13.4050  13.2150  140059
9     13.2530  13.2530  13.1170  153553
10    13.2440  13.2440  13.0760  127590
11    13.1050  13.1140  12.8900  146546
12    12.9290  12.9800  12.7560  177969
13    12.7810  12.7890  12.5790  155430
14    12.5790  12.6760  12.5570  173708
15    12.6220  12.6410  12.5200   97190
16    12.5570  12.5570  12.2420  193697
17    12.3360  12.3360  12.0680  170804
18    12.0370  12.0680  11.7240  268676
19    11.8960  12.0420  11.8960  150479
20    11.9070  11.9840  11.7670  171829
21    11.8560  11.9260  11.8080   69343
22    11.9610  12.2150  11.9610  117339
23    12.1850  12.3710  12.1230   98721
24    12.5790  12.5980  12.2710   62853
25    12.4090  12.4090  12.1930   89503
26    12.2880  12.3840  12.2520   90185
27    12.3710  12.3770  12.2580   90866
28    12.3530  12.3770  12.3070   75662
29    12.3710  12.5540  12.3710  132031
...       ...      ...      ...     ...
1029   4.9415   5.0119   4.5783  287021
1030   4.7774   5.1817   4.7717  127788
1031   4.9764   5.2164   4.8420   82601
1032   5.1401   5.4973   5.1401  131768
1033   5.2805   5.3215   5.1401   96606
1034   5.2982   5.3280   5.1641   99698
1035   5.2225   5.3336   5.1696  107529
1036   5.2048   5.3571   5.1525   89232
1037   5.5149   5.6675   5.4569   82854
1038   5.5616   5.7260   5.4741   97454
1039   5.7376   5.7376   5.6090   99626
1040   5.5561   5.7085   5.5209   77159
1041   5.6324   5.7376   5.6324  160016
1042   5.7018   5.7376   5.6090  293331
1043   5.5616   5.6206   5.4450  141299
1044   5.3571   5.6905   5.2805  129987
1045   5.4450   5.6789   5.4450  138565
1046   5.7085   5.7085   5.5561   85827
1047   5.6143   5.7728   5.5910  112468
1048   5.6789   5.7785   5.6206  110231
1049   5.6206   5.7201   5.5616   65147
1050   5.6614   5.7493   5.5616  223390
1051   5.7018   5.9127   5.7018  140581
1052   5.8838   6.0422   5.8020  130656
1053   6.0887   6.2763   6.0539   95223
1054   6.1648   6.2644   6.1589   61672
1055   6.2763   6.4813   6.2644  106495
1056   6.4696   6.4867   6.2705  137631
1057   6.3582   6.5983   6.3233  134635
1058   6.2469   6.6275   6.2469   65044

[1059 rows x 4 columns]

In [15]:
#normalize using z-score
def normalizeData(data):
    data=(data-train_stats['mean'])/train_stats['std']
    return data

df_train_norm=normalizeData(df_train)
print(df_train_norm)




#Now, to normalize the data we can use the concept of finding z-score
# mean = df['Open']['mean']
# print(mean)

# #normalizing using the Z-score normalization (x-mean)/std
# def normalizeData(point):
    
    





# scaler = MinMaxScaler()
# # #here as we r extracting samples for predicting the value of closing stock price, we need to extract that column and reshape
# # #the values in the form of 2d array as required by the fit_transform method.
# df_scaled = scaler.fit(df)
# print(scaler.fit(df))
# print(scaler.transform(df))
# #df['Open','High','Low','Close'] = scaler.fit_transform()





# # X_train = scaler.fit_transform(df_train.drop(['Close'],axis=1).values)

# # y_data = df_train['Close'].values.reshape(-1,1)
# # y_train = scaler.fit_transform(y_data)
# # print(y_train)

          Open      High       Low    Volume
0     1.010434  1.000661  0.992547 -0.534575
1     1.013346  1.007906  1.008019 -0.569617
2     1.035391  1.041143  1.040997 -0.558595
3     1.029568  1.039438  1.035704 -0.048001
4     1.048286  1.039438  0.998654  0.276454
5     1.010434  1.010888  0.983590 -0.514854
6     0.999203  0.991713  0.987662 -0.492926
7     0.997540  1.023672  1.003540  0.458294
8     1.029568  1.020263  0.970155  0.173358
9     0.966343  0.955493  0.930255  0.346498
10    0.962599  0.951658  0.913562  0.013369
11    0.904782  0.896262  0.837834  0.256592
12    0.831574  0.839161  0.783277  0.659778
13    0.770012  0.757772  0.711213  0.370582
14    0.685990  0.709621  0.702256  0.605105
15    0.703876  0.694706  0.687192 -0.376691
16    0.676839  0.658912  0.574007  0.861583
17    0.584913  0.564739  0.503164  0.567844
18    0.460542  0.450539  0.363108  1.823632
19    0.401893  0.439460  0.433136  0.307056
20    0.406468  0.414745  0.380615  0.580996
21    0.385254  0.390030  0.397308 -0.733993
22    0.428930  0.513179  0.459600 -0.118161
23    0.522103  0.579654  0.525557 -0.357047
24    0.685990  0.676383  0.585814 -0.817266
25    0.615277  0.595846  0.554057 -0.475322
26    0.564947  0.585193  0.578078 -0.466571
27    0.599471  0.582210  0.580521 -0.457834
28    0.591984  0.582210  0.600471 -0.652915
29    0.599471  0.657634  0.626528  0.070351
...        ...       ...       ...       ...
1029 -2.490864 -2.556216 -2.546197  2.059015
1030 -2.559122 -2.483860 -2.467456  0.015910
1031 -2.476347 -2.469074 -2.438834 -0.563881
1032 -2.408255 -2.349376 -2.317465  0.066977
1033 -2.349855 -2.424288 -2.317465 -0.384184
1034 -2.342493 -2.421519 -2.307694 -0.344511
1035 -2.373980 -2.419132 -2.305455 -0.244032
1036 -2.381343 -2.409118 -2.312417 -0.478799
1037 -2.252355 -2.276850 -2.188483 -0.560635
1038 -2.232930 -2.251922 -2.181480 -0.373304
1039 -2.159722 -2.246979 -2.126557 -0.345435
1040 -2.235218 -2.259379 -2.162426 -0.633707
1041 -2.203481 -2.246979 -2.117030  0.429424
1042 -2.174613 -2.246979 -2.126557  2.139978
1043 -2.232930 -2.296835 -2.193328  0.189268
1044 -2.317993 -2.267050 -2.260303  0.044125
1045 -2.281430 -2.271993 -2.193328  0.154188
1046 -2.171826 -2.259379 -2.148095 -0.522489
1047 -2.211009 -2.231980 -2.133886 -0.180660
1048 -2.184139 -2.229551 -2.121834 -0.209363
1049 -2.208389 -2.254436 -2.145856 -0.787832
1050 -2.191418 -2.241994 -2.145856  1.242571
1051 -2.174613 -2.172365 -2.088774  0.180056
1052 -2.098910 -2.117183 -2.047979  0.052709
1053 -2.013681 -2.017428 -1.945420 -0.401929
1054 -1.982026 -2.022499 -1.902670 -0.832419
1055 -1.935647 -1.930073 -1.859717 -0.257299
1056 -1.855243 -1.927772 -1.857234  0.142204
1057 -1.901581 -1.880217 -1.835737  0.103763
1058 -1.947877 -1.867774 -1.866842 -0.789154

[1059 rows x 4 columns]